Q1. Soln

In [3]:
#for loop :

#The for loop is used when we already know the number of iterations, which means when we know how many times a statement 
#has to be executed.

#Ex. of for loop : 

print(" The for loop execution starts from here \n")
for i in range(10) :
    print(i)
print(" The for loop execution ends here \n")

#This for loop will run 10 times as we have given the no. of iterations to the given for loop and after that loop will 
#terminate .

#and 

#while loop :


#The while loop executes until and unless the given condtion is true and when the condition becames false the loop get's 
#terminated .

print(" The while loop execution starts from here ")
i , a = 1 , 7
while i <= 10 :
    print(a*i)
    i = i + 1
print(" The while loop execution ends here ")
    
#This while loop will also run 10 times as we have given condition that value of i shoul be less than or equal to 10 .

 The for loop execution starts from here

0
1
2
3
4
5
6
7
8
9
 The for loop execution ends here

 The while loop execution starts from here
7
14
21
28
35
42
49
56
63
70
 The while loop execution ends here

Q2. Soln.

In [4]:
i , maxx = 1 , 10 
summ , product = 0 , 1

while i <= maxx :
    summ = summ + i
    product = product * i 
    i = i + 1
print(" The sum of first 10 natural no.s is : " , summ )
print(" The product of first 10 natural no.s is : " , product )

 The sum of first 10 natural no.s is :  55
 The product of first 10 natural no.s is :  3628800

Q3. Soln.

In [5]:
units_elect = int(input(" Enter the no. of units consumed in a month : "))

if units_elect <= 100 :
    
    bill_gener = units_elect * 4.5
    print(" Electric bill generated : " , bill_gener )
    
elif units_elect <= 200 :
    
    bill_gener = (100 * 4.5) + ( units_elect- 100 ) * 6.0
    print(" Electric bill generated : " , bill_gener ) 
    
elif  units_elect < 300 :
    
    bill_gener = (100 * 4.5) + (100 * 6.0) +  ( units_elect- 200 ) * 10
    print(" Electric bill generated : " , bill_gener )
    
else : 
    
    bill_gener = (100 * 4.5) + (100 * 6.0) + (100 * 10) + ( units_elect- 300 ) * 20
    print(" Electric bill generated : " , bill_gener )

 Enter the no. of units consumed in a month :  656

 Electric bill generated :  9170.0

Q4. Soln.

In [6]:
l = []
for i in range (1 , 101) :
    l.append(i)
l
lcube = []
j = 0
for i in l :
    while j < 100 :
        lcube.append(l[j]**3)
        j = j + 1
lcube

[1,
 8,
 27,
 64,
 125,
 216,
 343,
 512,
 729,
 1000,
 1331,
 1728,
 2197,
 2744,
 3375,
 4096,
 4913,
 5832,
 6859,
 8000,
 9261,
 10648,
 12167,
 13824,
 15625,
 17576,
 19683,
 21952,
 24389,
 27000,
 29791,
 32768,
 35937,
 39304,
 42875,
 46656,
 50653,
 54872,
 59319,
 64000,
 68921,
 74088,
 79507,
 85184,
 91125,
 97336,
 103823,
 110592,
 117649,
 125000,
 132651,
 140608,
 148877,
 157464,
 166375,
 175616,
 185193,
 195112,
 205379,
 216000,
 226981,
 238328,
 250047,
 262144,
 274625,
 287496,
 300763,
 314432,
 328509,
 343000,
 357911,
 373248,
 389017,
 405224,
 421875,
 438976,
 456533,
 474552,
 493039,
 512000,
 531441,
 551368,
 571787,
 592704,
 614125,
 636056,
 658503,
 681472,
 704969,
 729000,
 753571,
 778688,
 804357,
 830584,
 857375,
 884736,
 912673,
 941192,
 970299,
 1000000]

In [7]:
import numpy as np

In [8]:
l2 = []
for i in lcube :
    if i%4 == 0 or i%5 == 0 :
        l2.append(np.cbrt(i))
l2

[2.0,
 4.0,
 5.0,
 6.000000000000001,
 8.0,
 10.0,
 12.000000000000002,
 14.0,
 14.999999999999998,
 16.0,
 18.000000000000004,
 20.0,
 22.0,
 24.000000000000004,
 25.0,
 26.0,
 28.0,
 29.999999999999996,
 32.0,
 34.00000000000001,
 35.00000000000001,
 36.00000000000001,
 38.0,
 40.0,
 42.00000000000001,
 44.0,
 45.00000000000001,
 46.00000000000001,
 48.00000000000001,
 50.0,
 52.0,
 53.99999999999999,
 55.0,
 56.0,
 58.00000000000001,
 59.99999999999999,
 62.0,
 64.0,
 65.0,
 66.0,
 68.00000000000001,
 70.00000000000001,
 72.00000000000001,
 73.99999999999999,
 75.00000000000001,
 76.0,
 78.0,
 80.0,
 82.0,
 84.00000000000001,
 85.00000000000001,
 86.0,
 88.0,
 90.00000000000001,
 92.00000000000001,
 94.0,
 95.0,
 96.00000000000001,
 98.0,
 100.0]

In [ ]:
Q5. Soln.